body{
    background: lightslategray;
    font-family: 'Times New Roman', Times, serif;
}

.card{
    background: coral;
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 5px;
}

h1{
    margin: 0px;
    padding: 10px;
    font-size: 25px;
}

h2{
    background-color: lightblue; 
    padding: 14px;
    margin: 0px 5%;
    font-size: 20px;
    letter-spacing: 2px;
    
}

p{
    font-size: 16px;
    padding: 20px;
    margin: 5%; 
    background-color: lightgoldenrodyellow;
}